/* Section styling */
#welcome-hero {
    background-color: #f0f0f0; /* Light gray background color */
    padding: 50px; /* Add padding for spacing */
  }
#home{
    background-color: rgb(42, 138, 138);
    color: aliceblue;
}
h1{
  color: aliceblue;
  padding-left: 5%;
}
.you{
  display: flex;
  justify-content: space-between;
}