<section id="home">
    <div class="container">
        <div class="welcome-hero-txt">
            <div class="car">
                <p-table [value]="voitures" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 20, voitures.length]" class="ze">
                    <ng-template pTemplate="caption">
                        <div class="flex align-items-center justify-content-between">
                           <a [routerLink]="['/addvoiture']">+add Voitures</a>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Marque</th>
                            <th>Image</th>
                            <th>Couleur</th>
                            <th>Prix</th>
                            <th>Etat</th>
                            <th>Actions</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-Voiture>
                        <tr>
                            <td>{{Voiture.Marque}}</td>
                            <td><img :src="{{Voiture.image}}" alt="{{Voiture.Marque}}" width="200px" height="200px"/></td>
                            <td>{{Voiture.Couleur}}</td>
                            <td>{{Voiture.prix}}</td>
                            <td>{{Voiture.etat}}</td>
                            <td>
                                <button (click)="openDeleteDialog(Voiture._id)">&times;</button>
                                <a [routerLink]="['/updatevoiture', Voiture._id]"><i class="fas fa-pencil-alt"></i></a>

                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</section>

<app-confirmedaloug *ngIf="showDeleteDialog" 
                       (deleteConfirmed)="deleteCar()" 
                       (deleteCancelled)="showDeleteDialog = false"></app-confirmedaloug>
